{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/back_office.css') }}">
{% endblock %}

{% block title %}Ajouter un Cursus{% endblock %}

{% block body %}
    <div class="form-container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="h3 mb-4 text-center">Ajouter un Cours</h1>
                <hr class="separator">

                {{ form_start(form) }}
                    <div class="mb-3 text-center">
                        {{ form_label(form.name, 'Nom du cours : ') }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3 text-center">
                        {{ form_label(form.price, 'Prix du cours : ') }}
                        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="mb-3 text-center">
                        {{ form_label(form.theme, 'Thème du cours') }}
                        {{ form_widget(form.theme, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn-custom">Ajouter</button>
                    </div>
                {{ form_end(form) }}

                <div class="mt-3 text-center">
                    <a href="{{ path('admin_dashboard') }}" class="btn btn-secondary">Retour au Tableau de Bord</a>
                </div>

                {% for message in app.session.flashbag.get('success') %}
                    <div class="alert alert-success mt-3">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}