{% extends 'base.html.twig' %}

{% block title %}Tableau de bord de l'administration{% endblock %}

{% block body %}
    <h1 class="title-back text-center my-4">Tableau de bord de l'administration</h1>

    <div class="admin-buttons d-flex justify-content-center gap-3 my-4">
        <a href="{{ path('admin_theme_add') }}" class="btn btn-primary">Ajouter un Thème</a>
        <a href="{{ path('admin_course_add') }}" class="btn btn-primary">Ajouter un Cursus</a>
        <a href="{{ path('admin_lesson_add') }}" class="btn btn-primary">Ajouter une Leçon</a>
    </div>

    <h2 class="title-back text-center my-4">Liste des formations</h2>

    <div class="container my-5">
    <div class="row justify-content-center">
        {% for course in courses %}
            <div class="col-md-4 mb-4">
                <!-- Card for each course -->
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h3 class="card-title">{{ course.name }} <small>({{ course.theme.name }})</small></h3>
                        <p>{{ course.price }} €</p>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for lesson in groupedLessonsByCourse[course.id] %}
                                <li class="list-group-item">
                                    <strong>{{ lesson.name }}</strong> : <span>{{ lesson.content|raw }}</span>
                                    <p class="text-center">{{ lesson.price }} €</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
