{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
{% endblock %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <div class="container text-center mt-5 mb-5">
        <h1 class="text-center">Les cours proposés</h1>

        <div class="row mt-5">
            <div class="col-12">
                <div class="row">
                    {% for course in courses %}
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ course.name }}</h5>
                                    <p><strong>Prix du cursus : {{ course.price }}€</strong></p>
                                    
                                    <a href="{{ purchasedCourses is defined and course.id in purchasedCourses 
                                        ? path('follow_course', { 'id': course.id }) 
                                        : path('shop_add_to_cart', { 'type': 'course', 'id': course.id }) }}" 
                                        class="btn {{ course.id in purchasedCourses ? 'btn-follow' : 'btn-primary' }}">
                                        {{ course.id in purchasedCourses ? 'Suivre le Cursus' : 'Acheter le Cursus' }}
                                    </a>

                                    <h6 class="mt-4">Leçons incluses :</h6>
                                    <ul class="list-group">
                                        {% for lesson in course.lessons %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <p>{{ lesson.name }}</p>
                                                <p>{{ lesson.content }}</p>
                                                <p><strong>Prix de la leçon : {{ lesson.price }}€</strong></p>
                                                
                                                {# Vérification si l'utilisateur a acheté la leçon ou si le cursus a été acheté #}
                                                <a href="{{ (course.id in purchasedCourses) or (purchasedLessons is defined and lesson.id in purchasedLessons)
                                                    ? path('follow_lesson', { 'id': lesson.id }) 
                                                    : path('shop_add_to_cart', { 'type': 'lesson', 'id': lesson.id }) }}" 
                                                    class="btn {{ (course.id in purchasedCourses) or (lesson.id in purchasedLessons) ? 'btn-follow' : 'btn-outline-primary btn-sm' }}">
                                                    {{ (course.id in purchasedCourses) or (lesson.id in purchasedLessons) ? 'Suivre la Leçon' : 'Acheter la Leçon' }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
