{% extends 'base.html.twig' %}

{% block title %}Suivre le Cursus: {{ course.name }}{% endblock %}

{% block body %}
<div class="container text-center mt-5 mb-5">
    <h2>{{ course.name }}</h2>
    <h3 class="mt-4">Leçons incluses</h3>

    <ul class="list-group">
        {% for lesson in course.lessons %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <p><strong>{{ lesson.name }}</strong></p>
                </div>
                <div>
                    <p>{{ lesson.content|default('Aucun contenu disponible pour cette leçon.') }}</p>
                </div>
                <a href="{{ path('follow_lesson', { 'id': lesson.id }) }}" class="btn btn-outline-primary btn-sm">Accéder à la leçon</a>
            </li>
        {% else %}
            <li class="list-group-item">Ce cursus ne contient aucune leçon pour le moment.</li>
        {% endfor %}
    </ul>

    <form action="{{ path('complete_course', {'courseId': course.id}) }}" method="POST">
        <button type="submit" class="btn btn-follow mt-4">
            Marquer ce cursus comme terminé
        </button>
    </form>

    <a href="{{ path('shop_index') }}" class="btn btn-secondary mt-4">Retour à la boutique</a>
</div>
{% endblock %}
